<template>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user in viewUsers">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        data() {
            return {
                allUsers:[],
                viewUsers:[],
                inputId:'',
                inputName:'',
                inputEmail:''
            }
        },
        mounted() {
            this.getlist()
        },
        methods:{
            getlist() {
                const component = this;
                let options = {
                    type:"get",
                    url:"http://laraveltest/ajax-all-users",
                    data:{},
                    error:function(xhr,status){
                        alert("AJAX error !");
                    },
                    success:function(response){
                        component.allUsers = component.viewUsers = response;
                    }
                };
                $.ajax(options);
            }
        },
    }
</script>
